<div class="col-md-4">
    <div class="card">
        <div class="card-img-top" style="background-image: url(https://devhyun.com/uploads/20200124/th_02eQxwdd0IDvTu2RwU4248J0z1q0.jpeg); background-size: cover; height: 15rem; background-position: center; object-fit: cover;"></div>
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">2020.04.01</small></p>
        </div>
    </div>
</div>