<nav class="navbar navbar-expand-lg navbar-light border-bottom" 
     style="padding: 1.25rem 1rem">
  <div class="container justify-content-between">
    <a class="navbar-brand" href="#" 
       style="font-family: 'Monoton', cursive;">DevLog</a>
    <div>
        <a class="mx-2" href="#" target="_blank">
          <i class="fab fa-facebook" 
             style="color: #3b5998;"></i>
        </a>
        <a class="mx-2" href="#" target="_blank">
          <i class="fab fa-instagram" 
             style="background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
		  /* Also define standard property for compatibility */
		  background-clip: text;
	-webkit-text-fill-color: transparent;"></i>
        </a>
        <a class="mx-2" href="#" target="_blank">
          <i class="fab fa-github" 
             style="color: black;"></i>
        </a>
    </div>
  </div>
</nav>



