.navPadding {
    padding: 1.25rem 1rem !important; 
}

.fa-github {
	color: black;
}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	-webkit-background-clip: text;
		  /* Also define standard property for compatibility */
		  background-clip: text;
	-webkit-text-fill-color: transparent;
}