<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>DevLog - post</title>
    <th:block th:include="common/include-link"></th:block>
    <th:block th:include="common/include-script"></th:block>
</head>
<body>
    <div class="wrapper" style="font-family: 'Noto Sans KR', sans-serif;">
        <nav th:replace="common/navbar"></nav>
        <div class="container">      
            <div style="
                max-width: 860px;
                margin: 60px auto 17px;
                padding-bottom: 15px;
                border-bottom: 1px solid rgba(0,0,0,.05);">
                <div name="title" style="
    display: inline-block;
    height: 42px;
    font-size: 30px;
    color: black;
    line-height: 40px;">Helpful CSS Selectors</div>
                <div name="regdate" style="
    display: inline-block;
    height: 42px;
    font-size: 16px;
    color: #202020;
    line-height: 40px;
    float: right;"><span>author /</span><span> 2020.04.11</span></div>
            </div>
            
            <div style="
                max-width: 860px;
                margin: 40px auto;
                padding-left: 0 40px;
                background-image: url(https://hackernoon.com/drafts/2z4a3yh4.png);
                border-radius: 20px;
                height: 400px;
                background-size: cover;
                background-position: center;">
            </div>
            
            <div style="
                max-width: 860px;
                margin: 26px auto 17px;
                padding-bottom: 26px;
                border-bottom: 1px solid rgba(0,0,0,.05);">
                <div name="content" required style="
    display: block;
    width: 100%;
    border: none;
    font-size: 16px;
    resize: none;
    outline: 0 none;
    line-height: 40px;
    overflow: auto;">A CSS selector is a set of rules which will allow us to style any HTML element. In CSS there are many different selectors, they will also explain in detail and a descriptive example of each of them. Global or Universal Selector You could say that this selector is the one that occupies the most people that are starting. Its operation of this selector is to select all the elements that the page will contain.</div>
            </div>
            <div name="regdate" style="
    max-width: 860px;
    font-size: 16px;
    color: #202020;
    margin: 0 auto 80px;
    display: block;
    "><span>#</span><span> css</span></div>
        </div>
    </div>
</body>
</html>